@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #F1F3F9;
  color: #0B1215;
  font-family: "Urbanist", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 100dvw;
  overflow-x: hidden;
  position: relative;
}

.react-calendar {
  width: 100%;
  background: white;
  font-family: inherit;
  line-height: 1.125em;
  border: none !important;
}

.react-calendar__navigation {
  display: none;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75rem;
  color: #0B1215;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5rem;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__month-view__days__day--neighboringMonth {
  padding: 0.75rem;
  background: none;
  text-align: center;
  line-height: 16px;
  font-size: 0.875rem;
  border-radius: 9999px;
  width: 32px !important;
  height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  color: #0B1215;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #F6F8FA;
  border-radius: 9999px;
}

.react-calendar__tile--now {
  background: inherit;
  color: inherit;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background-color: #F6F8FA;
  color: inherit;
}

.react-calendar__tile--active,
.react-calendar__tile--active:hover {
  background: inherit !important;
  color: inherit !important;
}

.react-calendar__month-view__days__day--weekend {
  color: inherit;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #0B1215;
  opacity: 0.5;
}

.react-calendar__tile--now{
  background-color: #FFFFFF !important;
}

.react-calendar__month-view__days__day--weekend abbr{
  color: #0B1215 !important;
}

.react-calendar__tile[class*="bg-[#0A6EBD]"] abbr {
  color: white !important;
}

.react-calendar__tile--active {
  background: inherit !important;
  color: inherit !important;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: inherit !important;
  color: inherit !important;
}

/* Scrollbar'ı gizle ama işlevselliğini koru */
.events-container {
  scrollbar-width: none; /* Firefox için */
  -ms-overflow-style: none; /* IE ve Edge için */
}

.events-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari ve Opera için */
}

.landing-page-container {
  background: radial-gradient(282.76% 179.3% at -11.35% 2.83%, #0A6EBD 0%, #053357 58%);
}

.white-to-blue-gradient {
  background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.10) 100%);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Kaydırma çubuğu genişliği */
  height: 8px; /* Yatay kaydırma için */
  background: transparent; /* Arka planı tamamen kaldır */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(203, 203, 203, 0.10); /* Scroll çubuğunun rengi */
  border-radius: 9999px; /* Tam yuvarlak yapar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Scroll çubuğunun arka planı tamamen kaldırıldı */
}

.custom-scrollbar {
  scrollbar-width: thin; /* Firefox için ince scrollbar */
  scrollbar-color: rgba(203, 203, 203, 0.10) transparent; /* Scroll rengi + arka planı şeffaf */
}